<!--<ul class="product-cart">-->
<!--  <li-->
<!--    *ngFor="let product of allProducts"-->
<!--    class="product-cart__item"-->
<!--  >-->
<!--    <img [src]="product.img" />-->
<!--    <h4>title: {{product.title}}</h4>-->
<!--    <div class="product-cart__item__description">description: {{product.description}}</div>-->
<!--  </li>-->
<!--</ul>-->
<nz-table [nzData]="allProducts">
  <thead>
  <tr>
    <th>title</th>
    <th>description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of allProducts">
    <td>{{product.title}}</td>
    <td>{{product.description}}</td>
  </tr>
  </tbody>
</nz-table>
