@import "src/styles/_variables";

.navbar {
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
  max-width: $max-width;
  margin: 0 auto;

  * {
    display: flex;
  }

  &__menu {
    width: 100%;

    justify-content: space-between;

    &__list {
      align-items: center;

      li {
        margin: 0 1em;
      }
    }
  }

  .active-route {
    color: red;
  }
}
