@import "_colors";

body {
  background: #f4f6f8;
}

.btn {
  background: $main;
  padding: 1em;
  border-radius: 5px;
  color: $white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: $pink_hover;
  }
}

textarea {
  resize: none;
  padding: 0.5em;
}

.cart {
  background: $white;
  border-radius: 8px;
  box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.48);

  &-section {
    padding: 1em;
  }

  &-item {
    margin-bottom: 2em;
  }

  &-header-with-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    * {
      margin: 0;
    }
  }

}


.label {
  input, textarea {
    margin-top: 0.5em;
  }
}

.section-footer_button {
  padding: 1.5em 0;
  margin-top: 1em;
  border-top: 1px solid $light_grey;
}
