.new-product-form {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;

  &__left-section, &__right-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  &__media {
    min-height: 300px;
  }
}
