$max-section-width: 364px;

.new-product-form {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;

  &__left-section, &__right-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    max-width: $max-section-width;
  }

  &__media {
    min-height: 300px;
  }

  &__upload {
    padding: 1em;
  }
}
